{{ form_start(form) }}

{{ form_widget(form) }}

<button class="btn btn-large waves-effect waves-light pink lighten-1 col s12" name="action" style="margin-top: 20px;" type="submit">
    Validez la campagne
    <i class="material-icons right">send</i>
</button>

{{ form_end(form) }}
